    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fefefe;
    margin: 0;
    overflow-x: hidden;
    }

    button {
        padding: 12px 16px;
        border-radius: 16px;
        border-width: 0;
        background-color: green;
        color: #fefefe;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.16rem;
        cursor: pointer;
    }
    
    p.card {
        font-size: 16px;
        text-align: center;
        margin-top: 8px;
        max-width: 70%;
    }

    p.card-info {
        font-size: 16px;
        
        margin-top: 8px;
        max-width: 50%;
    }


    h1 {
        font-family: "Montserrat", sans-serif;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        line-height: 58px;
        font-size: 56px;
        color: #1e1e1e;
        margin: 0;
        padding: 0;
    }

    h2.verde{
        color: #219653;
    }

    h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    ul {
        width: 80%;
    }

    li {
        font-size: 16px;
        margin-top: 12px;
        font-weight: bold;
    }

    footer {
        display: flex;
        width: 100vw;
        height: 156px;
        background-color: #d9d9d9;
        align-items: center;
        justify-content: center;
    }
    
    .root-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 1216px;
        align-items: center;
        justify-content: flex-start;
    }

.section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    background-color: #fefefe;
}


.barra-navegacao {
    display: flex;
    flex-direction: row;
    width: 1216px;
    height: 72px;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}

.titulo-navegacao {
    color: #1e1e1e;
    font-size: 24px;
    letter-spacing: -0.015rem;

}

.links-navegacao {
    color: #1e1e1e;
    font-size: 16px;
    letter-spacing: -0.015rem;
    padding-left: 16px;
}



.hero-info {
    display: flex;
    flex-direction: row;
    width: 1216px;
    height: 594px;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
}

.hero-info-title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    
}

.hero-info-subtitle {
    font-size: 20px;
    line-height: 28px;
    max-width: 62%;
    margin-top: 16px;
    
}

.hero-info-image {
    height: 470px;
    width: 300px;
    border-radius: 40px;
    border-color: green;
    border-width: 4px;
    border-style: solid;
}

.hero-info-icons-container {
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.hero-info-icons-img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.section-abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 64px;
    padding-bottom: 64px;
}

.ability-cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    column-gap: 34px;
    margin-top: 48px;
}

.ability-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 312px;
    height: 690px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-radius: 12px;
    border-style: solid;
    padding-top: 16px;
}

.ability-card-icon-container {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 80px;
    height: 80px;
    background-color: #219653;
    border-radius: 40px;
    margin-bottom: 12px;
}



.section-portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.section-portfolio-grid {
    display:grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    column-gap: 34px;
    margin-top: 48px;
}

.section-portfolio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 384px;
    height: 400px;
    border-width: 2px;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 24px;
}

.section-portfolio-img {
    width: 220px;
    height: 116px;
    margin-bottom: 0px;
}

.section-portfolio-card-links {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: baseline;
    justify-content: space-between;
}

.section-portfolio-card-icon-img {
    width: 24px;
    height: 24px;
}

.section-experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
}

.section-experiences-card {
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #d9d9d9;
    border-radius: 16px;
    margin-top: 24px;
    padding: 24px;
}

.section-experiences-card-img {
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.section-experiences-card-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-experiences-card-title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-left: 16px;
}

.section-experiences-card-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 8px 0 0 16px;
}

.section-experiences-card-text {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 8px 0 0 16px;
}

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.section-contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-contact-item-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

a.help, p.help {
    margin-left: 10px;
    color: #1e1e1e;
}

.footer-content {
    width: 1216px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}